var Config = function() {
    var serverName = "_SERVER_HOST_ADDRESS_";
    var port = "8103";

    function getUrl() {
        return window.location.protocol + "//" + serverName + ":" + port;
    }
    return {
        getUrl: getUrl
    }
};
