@charset "UTF-8";

div#result {
    /* margin:0 auto; */
    /* background:#F8FFFF; */
    /* border-left:#CCCCCC 1px solid; */
    /* border-right:#CCCCCC 1px solid; */
}

div.user_block {
    /* background-color:#F8F8E8; */
    text-align: right;
}

div.user_utt {
    padding:10px 10px 10px 10px;
    display: inline-block;
    background-color:#F8F8F8;
    border-radius: 20px;
}

div.system_utt {
    /* background-color:#F8E8F8; */
    padding:10px 10px 10px 10px;
}

#history {
    margin:1px;
}

#clear {
    margin:1px;
}

.notice {
    margin: 0px;
    width: 100%;
    background-color:#FFE9E9;
}

div.notice_message {
    margin: 20px;
}

div#status {
    color: red;
}

div#warning1 {
    background-color:#FFE4E1;
}

div#warning2 {
    background-color:#E4FFE1;
}

#user_query {
    /* width: 100%; */
}

